html,
body{
  height: 100%;
}

body{
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $text-accent;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container--long{
  max-width: 1800px;
}

a{
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}