.footer {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: $footer-link;

  &__items {
    padding: 79px 0 65px 0;
    margin-bottom: 27px;
    border-bottom: 1px solid #dae4e9;
    display: flex;
  }

  &__box {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      max-width: 240px;
      margin-right: 60px;
    }
  }

  &__logo {
    margin-bottom: 24px;
    display: block;
  }

  &__phone {
    line-height: 31px;
  }

  &__address,
  &__email {
    display: inline-block;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__phone:hover,
  &__email:hover {
    color: $black;
    transition: color 0.7s;
  }

  &__title {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $footer-title;
    text-transform: uppercase;
    padding-top: 14px;
    margin-bottom: 11px;
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 8px;
    transition: color 0.7s;

    &:hover {
      color: $black;
    }
  }

  &__text {
    line-height: 24px;
    margin-bottom: 35px;
  }

  &__form {
    display: flex;
  }

  &__form-send {
    font-size: 0;
  }

  &__form-email {
    max-width: 170px;
    width: 100%;
    padding: 4px 12px;
    background-color: #fef7f0;
    font-size: 12px;
    border: none;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    max-width: 100px;
    width: 100%;
    border: none;
    background-color: $accent;
    color: $white;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    transition: background-color 0.7s;

    &:hover {
      background-color: $header-nav;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }
}

.menu--footer {
  padding: 0;
  margin-right: -10px;
}

.menu {
  &__list--footer {
    display: flex;
  }

  &__item--footer {
    margin-right: 7px;
  }

  &__link--footer {
    padding: 1px 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-right: 1px solid $footer-link;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: color 0.7s, border-color 0.7s;

    &:hover {
      color: $black;
      border-bottom: 1px solid $black;
    }
  }

}