.header {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 45px;
  }

  &__aside {
    display: flex;
  }
}

.menu {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
  padding-left: 153px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: $header-nav;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: color 0.7s, border-color 0.7s;

    &:hover {
      color: $black;
      border-bottom: 1px solid $black;
    }
  }

  &__link--active {
    color: $black;
    border-bottom: 1px solid $black;
  }
}

.bar {

  &__btn {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    svg circle {
      fill: $accent;
      transition: fill 0.7s;
    }

    svg path {
      fill: $white;
      fill-rule: evenodd;
    }

    &:hover circle {
      fill: $header-nav;
    }
  }
  
  &__btn--search {
    margin-right: 20px;
    svg circle {
      fill: $accent;
      opacity: 0.2;
      transition: fill 0.7s;
    }

    svg path {
      fill: $bar-icon;
      fill-rule: evenodd;
      transition: fill 0.7s;
    }

    &:hover circle {
      fill: $header-nav;
      opacity: 1;
    }

    &:hover path {
      fill: $white;
    }
  }

  .nav-search {
    width: 15px;
    height: 15px;
  }

  .icon--search {
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    fill: $black;
    border-radius: 50%;
    transition: fill 0.7s;
    transition: background-color 0.7s;

    &:hover {
      background-color: $header-nav;
      fill: $white;
    }
  }


  &__link {
    display: block;
    position: relative;
    width: 90px;
    height: 51px;
    transition: background-color 0.7s;

    &:hover {
      background-color: $header-nav;
    }

    path {
      transition: fill 0.7s;
    }

    &:hover path {
      fill: $white;
    }
  }

  &__link--left {
    border-radius: 22px 0 0 22px;
  }

  &__link--right {
    border-radius: 0 22px 22px 0;
  }

  &__svg {
    position: absolute;
    top: 55%;
    left: 46%;
    transform: translateY(-50%);

    path {
      fill: $bar-icon;
      fill-rule: evenodd;
    }
  }

  &__svg--right {
    left: 31%;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: $white;
    border-radius: 50%;
    top: 12px;
    right: 21px;
    font-size: 10px;
    color: $bar-icon;
    text-align: center;
    line-height: 16px;
  }

  &__num--right {
    right: 35px;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 180px;
    width: 100%;
    background-color: $bg;
    border-radius: 22px;
    margin-right: 16px;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #fde7d3;
      left: 50%;
      transform: translateY(30%);
    }
  }
}