.slider{
  &__wrapper{
    background-color: $bar-bg;
    padding: 100px 185px 46px 300px;
  }
  &__items{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__content{
    font-family: 'Rubik', sans-serif;
    max-width: 420px;
    width: 100%;
    padding-top: 117px;
  }
  &__title{
    font-weight: 500;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
    color: $bar-icon;
    margin-bottom: 25px;
  }
  &__text{
    max-width: 400px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $header-nav;
    margin-bottom: 52px;
  }
  &__link{
    font-weight: 500;
    position: relative;
    padding: 22px 100px 21px 33px;
    background-color: $accent;
    color: $white;
    transition: background-color 0.7s;
    &::after{
      content: "";
      position: absolute;
      width: 23px;
      height: 10px;
      top: 26px;
      right: 17px;
      background-image: url('../../images/icons/arrow.png');
      background-repeat: no-repeat;
    }
    &:hover{
      background-color: $header-nav;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-right: 105px;
    li{
      padding: 0;
      line-height: 0;
      button{
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 12px;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $dots-bg;
        color: $dots-num;
        margin-right: 10px;
      }
      &.slick-active{
        button{
          color: $dots-active-num;
          background-color: $white;
          border-radius: 50%;
        }
      }
    }
  }
}